@charset "utf-8";
/* CSS Document */

footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
	font-size: 0.8em;
}

.floatleft {
	margin: 0 1em 1em 0;
	float: left;
}
.floatright {
	margin: 0 0em 1em 1em;
	float: right;
}
